extends layout

block content
    div.container
      form.form-signin.col-md-6(method='post', action='/editUser/#{user._id}')
        input(type='hidden', name='_method', value='PUT')
        h1.form-signin-heading Edit user data
        div.form-group
            input.form-control(type='text', name='name', placeholder='Name', value='#{user.name}')
        div.form-group
            input.form-control(type='text', name='surname', placeholder='Surname', value='#{user.surname}')
        div.form-group
            input.form-control(type='text', name='user', placeholder='User', value='#{user.user}')
        div.form-group
            input.form-control(type='email', name='email', placeholder='Email', value='#{user.email}')
        div.form-group
            input.form-control(type='password', name='password', placeholder='Password', value='#{user.password}')
        div.form-group
            input.form-control(type='password', name='password2', placeholder='Repeat password', value='#{user.password}')
        div.form-group
            button.btn.btn-primary.btn-block(type='submit') Save