extends layout

block content
  h1 #{user}'s sequences list
  table.table
    thead
      tr
        th Title
        th Last update
        th Version
        th Info
    tbody
      each sequence, i in sequenceslist
        tr
          td #{sequence.title}
          td #{sequence.lastUpdate}
          td #{sequence.version}
          td #{sequence.info}
          td
            a.btn.btn-primary.btn-xs(href="/editSequence/#{sequence._id}/edit") Edit