extends layout

block content
    div.container
    h1 Users list
    table.table
        thead
            tr
                th Name
                th Surname
                th User
                th Email
        tbody
            each user, i in userslist
                tr
                    td #{user.name}
                    td #{user.surname}
                    td #{user.user}
                    td #{user.email}
                    td
                        a.btn.btn-primary.btn-xs(href="/editUser/#{user._id}/edit") Edit
                    td
                        a.btn.btn-primary.btn-xs(href="/removeUser/#{user._id}") Delete
    a.btn.btn-primary.btn-xs(href="/signup") Add new user